* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    font-family: "Courier New", Courier, monospace;
}

.container {
    width: 100%;
    background-color: cyan;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "name" "options" "main-row" "algo-row";
    justify-items: center;
    align-items: center;
}

label {
    margin: 10px;
    font-size: 15px;
}

.options {
    grid-area: options;
    display: flex;
    justify-items: center;
}

.main-row {
    grid-area: main-row;
}

.algo-row {
    grid-area: algo-row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    grid-area: name;
}

.newarray {
    grid-area: newarray;
}

.reset {
    grid-area: reset;
}

.sort {
    grid-area: sort;
}

.merge {
    grid-area: merge;
}

.bubble {
    grid-area: bubble;
}

.quick {
    grid-area: quick;
}

button {
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.6rem 1.3rem;
    font-size: 15px;
    color: white;
    margin: 0.5rem;
    background: none;
    cursor: pointer;
}

button:hover {
    background: white;
    color: rgb(83, 176, 204);
    border: 1.5px solid rgb(83, 176, 204);
}

@media (max-width: 705px) {
    .container {
        grid-template-rows: 1fr 1fr 1fr 2fr;
    }
}
@media (max-width: 418px) {
    html {
        width: 418px;
    }
}
